# Django core
Django>=5.0,<6.0
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf_spectacular_sidecar
django-filter>=23.2
django-cors-headers

# Database
psycopg2-binary

# Deployment / Environment
gunicorn
python-dotenv

# Media & Storage
pillow
django-storages[boto3]
boto3

# Security / Encryption
pycryptodome
cryptography>=42.0.0

# Nepali datetime support
nepali-datetime

# Celery & Redis
celery>=5.5.0
redis>=5.0.0
django-celery-beat

# Optional (for email templates)
jinja2>=3.1.2

# WebSocket / Real-time support
channels>=4.1.0
channels-redis>=4.1.0
daphne>=4.0.0
